@model Entity.Product

@{
    ViewData["Title"] = "ProductAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Ürün Ekle</h4>
							</div>
							
						</div>
			
					</div>
				</div>



				<!-- Default Basic Forms Start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Ürün Ekleme Sayfası</h4>
						</div>
						
					</div>
				<form  method="post" enctype="multipart/form-data"  >

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Kategori Seç</label>
						<div class="col-sm-12 col-md-10">
							@Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.cv , new{@class="form-control"})
						</div>
					</div>
				
					<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Ürün Adı</label>
							<div class="col-sm-12 col-md-10">
								@Html.TextBoxFor(x=>x.ProductName,new{@class="form-control"})
							</div>
						</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Adı İngilizce</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.ProductNameEng,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Adı Almanca</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.ProductNameDe,new{@class="form-control"})
						</div>
					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği </label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik1 ,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği İngilizce</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik1Eng ,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği Almanca </label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik1De ,new{@class="form-control"})
						</div>
					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 2</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik2 ,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği İngilizce 2</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik2Eng ,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği Almanca  2</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik2De ,new{@class="form-control"})
						</div>
					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 3 </label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik3 ,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği İngilizce 3</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik3Eng ,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği Almanca  3</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik3De ,new{@class="form-control"})
						</div>
					</div>




					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 4 </label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik4 ,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği İngilizce 4</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik4Eng ,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği Almanca 4 </label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik4De ,new{@class="form-control"})
						</div>
					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği </label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik5 ,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği İngilizce</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik5Eng ,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği Almanca </label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Ozellik5De ,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değeri</label>
							<div class="col-sm-12 col-md-10">
								@Html.TextBoxFor(x=>x.OzellikDeger1,new{@class="form-control"})
							</div>
						</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değeri İngilizce</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger1Eng,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değeri Almanca</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger1De,new{@class="form-control"})
						</div>
					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değeri 2</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger2,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değeri 2 İngilizce</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger2Eng,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değeri 2 Almanca</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger2De,new{@class="form-control"})
						</div>
					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik 3 Değeri</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger3,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değeri 3 İngilizce</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger3Eng,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değeri 3 Almanca</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger3De,new{@class="form-control"})
						</div>
					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik 4 Değeri</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger4,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değeri 4 İngilizce</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger4Eng,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değeri 4 Almanca</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger4De,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik 5 Değeri</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger5,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değeri 5  İngilizce</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger5Eng,new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değeri 5 Almanca</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.OzellikDeger5De,new{@class="form-control"})
						</div>
					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Açıklaması </label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.ProductDescription,new{@class="form-control"})
						</div>
					</div>

								<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Açıklaması İngilizce</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.ProductDescriptionEng,new{@class="form-control"})
						</div>
					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Açıklaması Almanca</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.ProductDescriptionDe,new{@class="form-control"})
						</div>
					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Fiyat</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Price,new{@class="form-control"})
						</div>
					</div>




					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Para Birimi</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.MonyType,new{@class="form-control"})
						</div>
					</div>




					<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Ürün Resmi   </label>
							<div class="col-sm-12 col-md-10">
								@*@Html.TextBoxFor(x=>x.ImgPath,new{@class="form-control"})*@
								<input type="file" name="ImagePath" class="form-control" />
							</div>
						</div>








     <button class="btn  btn-outline-primary w-100" type="submit"><i class="icon-copy fa fa-save" aria-hidden="true"></i> Kaydet</button>
						
					
</form>
		
		

	</div>

